<ul class="list-group list-group-flush">
    <a class="entry-link" href="#" data-toggle="modal" data-target="#booksectionModal">
        <li class="list-group-item cursor-pointer"><small>Section of: <span class="text-info">{{ data.booksection.book.title }}{% if data.booksection.book.date %} ({{ data.booksection.book.date }}){% endif %}</span></small></li>
        <li class="list-group-item cursor-pointer"><small>Pages: <span class="text-info">{{ data.booksection.pages }}</span></small></li>
    </a>
</ul>

<div class="modal fade" id="booksectionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black-50" id="exampleModalLabel">Edit Book Section Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="book" ic-put-to="{{ webInfo.baseurl }}manager/bibliography/{{ data.id }}/booksection" ic-target="#description_wrapper">
                    <select name="section_of" class="custom-select">
                        {% for bib in data.all_bib%}
                            {% if bib.id == data.booksection.section_of %}
                            <option value="{{ bib.id }}" selected>{{ bib.title }}{% if bib.date %} ({{ bib.date }}){% endif %}</option>
                            {% else %}
                            <option value="{{ bib.id }}">{{ bib.title }}{% if bib.date %} ({{ bib.date }}){% endif %}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Pages</span>
                        </div>
                        <input type="text"  id="pages" class="form-control" name="pages" value="{{ data.booksection.pages }}">
                    </div>
                </form>
                <script>
                    $("#description_wrapper").ready(function(){
                        /*
                        We need the function for removing the bs4-backdrop from modal
                         */
                        $(".modal-backdrop").remove();
                    })
                </script>
            </div>
            <div class="modal-footer">
                <button type="submit" form="book" class="btn btn-success">Save Changes</button>
                <a href="#" target="_blank"><button type="button" class="btn btn-warning">Create Book</button></a>
            </div>
        </div>
    </div>
</div>